body {
  background-image: url(../img/back.png);
  color: #222222;
}

#menu #menu_container
{
	list-style: outside none none;
	margin-top: 120px;
	margin-left: 40px;
	padding: 0;
	font-family: Roboto;
	font-size: 30px;
	width: 70%;
}
#menu li
{
	margin-bottom: 15px;
	margin-top:0;
	margin-left: 0;
	padding: 0;
	white-space: pre-line;
}
#menu li:hover
{
	background-color: rgba(230,230,230, 1);
	cursor: pointer;
}
#menu_checkbox:checked ~ #burger
{
	background-image: url(../img/cross.png);
	background-size: 30px;
}

#burger
{
	width:	35px;
	height: 35px;
	position: fixed;
	top: 45px;
	right: 45px;
	background-image: url(../img/burger.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px;
	z-index: 2;
}

#burger:hover
{
	transform: scale(1.1);
}

#menu_checkbox
{
	position: fixed;
	top: -1000px;
	right: -1000px;
}

#menu
{
	background-color: rgba(240,240,240, 1);
	position: fixed;
	height: 100%;
	right: -31.77%;
	top: 0;
	width: 31.77%;	
	transition: right 0.1s ease-out;
	z-index: 1;
}

#menu_checkbox:checked ~ #menu
{
	right: 0;
	transition: right 0.1s ease-out;
}

#footer
{
	position: fixed;
	background-color: rgb(255,255,255);
	width: 100%;
	left: 0;
	bottom: 0;
	height: 50px;	
	display: inline-block;
	white-space: nowrap;
}

#footer > #footer_container
{
	width: 100%;
	height: 100%;
}



#ud4_string, #receive_a_call
{
	width: 30%;
	display: inline-block;
	overflow: visible;
	
}

#receive_a_call #call_button
{
	margin-left:auto; margin-right:50px;
}

#receive_a_call #txt
{
	text-align:right;
	width:100%;
}

#txt p
{
	padding-right:65px;
	display: inline !important;
	font-family:  'Open Sans', sans-serif;;
	font-weight: 800;
	font-size: 11pt;
}

#call_button
{
	background-image: url(../img/receive_a_call.png);
	background-size: 169px;
	background-repeat: no-repeat;
	position:absolute;
	left: 70%;
	top:0;
	bottom:0;
	right: 0;
	height:48px;
	width:30%;
	background-position: right 50px center;
}

#ud4_string p, #phone_string p
{
	font-family: Roboto;
	font-size: 13px;
	margin-left: 1pt;
	display: inline-block;
	vertical-align: middle;
}

#footer  #copy
{
	font-size: 16px;
	margin-left: 50px;
}

#footer  #phone_string
{
	width: 40%;
	display: inline-block;
}

#footer  #phone
{
	width: 100%;
	text-align: center;
}

#description
{
	background-color: rgba(255,255,255, 0.75);
	position: fixed;
	height: 100%;
	left:0;
	top: 0;
	width: 31.77%;	
}