body {
  color: #222222;
}

#menu #button_container
{
	margin-left: 40px;
	margin-top: 50px;
	padding: 0;
	width: 70%;
	height: 200px;
}

#button_container > div:hover
{
	transform: scale(1.05);
}

#button_container #prez
{
	background-image: url(../img/prez.png);
	background-repeat: no-repeat;
	background-size: auto 30px;
	width: 160px;
	height: 40px;
}

#button_container #breef
{
	background-image: url(../img/breef.png);
	background-repeat: no-repeat;
	background-size: auto 30px;
	width: 160px;
	height: 40px;
	margin-top: 10px;
}

#menu #menu_container
{
	list-style: outside none none;
	margin-top: 120px;
	margin-left: 40px;
	padding: 0;
	font-family: Roboto;
	font-size: 30px;
	width: 70%;

}

#menu li
{
	margin-bottom: 15px;
	margin-top:0;
	margin-left: 0;
	padding: 0;
}

#menu li:hover
{
	background-color: rgba(220,220,220, 1);
	cursor: pointer;
}

#menu_checkbox:checked ~ #burger
{
	background-image: url(../img/cross.png);
	background-size: 30px;
}

#burger
{
	width:	35px;
	height: 35px;
	position: fixed;
	top: 45px;
	right: 45px;
	background-image: url(../img/burger.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px;
	z-index: 2;
}

#burger:hover
{
	transform: scale(1.1);
}

#menu_checkbox
{
	position: fixed;
	top: -1000px;
	right: -1000px;
}

#menu
{
	background-color: rgba(240,240,240, 1);
	position: fixed;
	height: 100%;
	right: -31.77%;
	top: 0;
	width: 31.77%;	
	transition: right 0.1s ease-out;
	z-index: 1;
}

#menu_checkbox:checked ~ #menu
{
	right: 0;
	transition: right 0.1s ease-out;
}



