.unused
{
	position: relative;
	margin-top: 30%;
	
	height: 60%;
	
	
}

.caseInfoContainer
{
	position: absolute;
	color: black;
	font-family: Roboto;
	height: 70%;
	width: 25%;
	top: 25%;
	margin-left: 50px;
	overflow: auto;
	
}

.caseInfoContainer h1
{
	font-size: 36px;
	margin-bottom: 10px;
}

.caseInfoContainer span
{
	font-size: 14px;
	
}

.caseInfoContainer a
{
	pointer-events: auto;
	display: block;
	margin-bottom: 15px;
}


.bcg_anim {
	position: fixed;
	top: 0;
	width: 100%;
	left:0;
	bottom: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

.bcg {
	width: 100%;
	margin:0;
}

.hero {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
}

.homeSlide_anim {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	z-index: 3;
}

.homeSlide {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	margin:0;
	padding:0;
}

.imageContainer
{
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin-left: 0;
	position: absolute;
	z-index: 1;
}

.slideImg, .slideImg2
{
	
	position: absolute;
	left: 50%;
	top: 50%;
	-moz-transform: translateY(-50%) translateX(-50%) ;
	-ms-transform: translateY(-50%) translateX(-50%) ;
	-webkit-transform: translateY(-50%) translateX(-50%) ;
	-o-transform: translateY(-50%) translateX(-50%) ; 
	-moz-transform: translateY(-50%) translateX(-50%) ;
	transform: translateY(-50%) translateX(-50%) ;
	background-size: cover;
	width: 120%;
	height: 120%;


}


#up
{
	width:	35px;
	height: 35px;
	position: fixed;
	top: 45px;
	right: 50%;
	background-image: url(../img/up_no_outline.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px;
	z-index: 4;
	pointer-events: auto;
	cursor: pointer;
	visibility: hidden;
}

#up_outline
{
	width: 100%;
	height: 100%;
	background-image: url(../img/up.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px;
	opacity: 0;
}