

.caseInfoContainer
{
	position: relative;
	color: black;
	text-align: left;
	font-family: Roboto;
	margin-top: 20%;
	width: 80%;
	height: 70%;
	margin-left: 10%;
	overflow: auto;
}

.caseInfoContainer h1
{
	font-size: 36px;
	margin-bottom: 10px;
}

.caseInfoContainer span
{
	font-size: 14px;
	
}

.caseInfoContainer a
{
	pointer-events: auto;
	display: block;
	margin-bottom: 15px;
}


.bcg_anim {
	position: fixed;
	top: 0;
	width: 100%;
	left:0;
	bottom: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

.bcg {
	width: 100%;
	margin:0;
}

.hero {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top:0;
}

.homeSlide_anim {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.homeSlide {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	margin:0;
	padding:0;
}

.imageContainer
{
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin-left: 0;
}

.slideImg
{
	
	position: relative;
	left: 50%;
	top: 50%;
	-moz-transform: translateY(-50%) translateX(-50%) scale(2);
	-ms-transform: translateY(-50%) translateX(-50%) scale(2);
	-webkit-transform: translateY(-50%) translateX(-50%) scale(2);
	-o-transform: translateY(-50%) translateX(-50%) scale(2); 
	-moz-transform: translateY(-50%) translateX(-50%) scale(2);
	transform: translateY(-50%) translateX(-50%) scale(2);
}
.caseInfo
{

	
	background-color: rgba(255,255,255, 0.75);
	position: absolute;
	height: 100%;
	left:0;
	top: 0;
	width: 31.77%;	
	
}

#up
{
	width:	35px;
	height: 35px;
	position: fixed;
	top: 45px;
	right: 50%;
	background-image: url(../img/up_no_outline.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px;
	z-index: 2;
	pointer-events: auto;
	cursor: pointer;
	visibility: hidden;
}

#up_outline
{
	width: 100%;
	height: 100%;
	background-image: url(../img/up.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px;
	opacity: 0;
}